[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ APPpath }}/{{ APPname }}
ExecStart={{ APPpath }}/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          {{ APPname }}.wsgi:application

[Install]
WantedBy=multi-user.target
