{% extends 'feed_page.html' %}
{% load static %}
{% block static_links %}
    <link rel="stylesheet" href="{% static 'posts/css/profile.css' %}">
    <script src="{% static 'posts/js/script.js' %}"></script>
{% endblock %}
{% block sub_button %}
                        {% if request.user.is_authenticated and request.user != post_data.post.author %}
                            <script>
                                var csrftoken = '{{ csrf_token }}';
                                var subscribe_ajax_url = "{% url 'posts:subscribe_ajax' %}";
                                var unsubscribe_ajax_url = "{% url 'posts:unsubscribe_ajax' %}";
                                var checksubscription_ajax = "{% url 'posts:checksubscription_ajax' %}";
                             </script>
                            <button class="subscribe-btn">Subscribe</button>
                        {% endif %}
{% endblock %}