{% extends 'feed_page.html' %}
{% load static %}
{% block static_links %}
    <link rel="stylesheet" href="{% static 'posts/css/profile.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'posts/js/script.js' %}"></script>
{% endblock %}
{% block feed_body %}
                <div class="post-body">
                {% for post_data in timediff_posts %}
                    <div>
                        <span>{{ post_data.post.author }}</span> 
                        <span>
                        {% if request.user.is_authenticated and request.user != post_data.post.author %}
                            <script>
                                var csrftoken = '{{ csrf_token }}';
                                var ajax_url = "{% url 'posts:subscribe_ajax' %}";
                             </script>
                            <button id="subscribe-btn">Subscribe</button>
                        {% endif %}
                        </span>
                        <span>
                           {{ post_data.time_diff }}
                        </span>
                    <div>
                    <div>{{ post_data.post.text }}</div>
                    {% if post_data.post.get_file_url %}
                    <div>
                        <img src = "{{ post_data.post.get_file_url }}">
                    </div>
                    {% endif %}
                {% endfor %} 
                </div>
{% endblock %}