@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}


body{
    /*background: linear-gradient(180deg, rgb(216, 177, 223), rgb(249, 251, 214)); */
    background: rgb(221, 238, 240);
}

.wrap{
    display: flex;

}

.menu {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin: 10px;
    top: 0;
    z-index: 1;
}

.menu header{
    margin: 0 15%;
    display: flex;
}

.menu ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    border: 2px solid rgba(255, 255, 255);

    border-radius: 30px;
}

.menu li{
    display: flex;
    height: 100%;
    margin: 0 15px;
}

.menu form{
    display: flex;
    height: 100%;
}
.menu a{
    display: flex;
    margin: 17px 41px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.menu .empty_space{
    width: 100%;
}

.menu a:hover{
    color: white;
}
.menu .btn{
    margin: 17px 0;
    display: flex;
}

.menu button{
    outline: none; 
    border: 0;
    background: transparent;
}

.menu .user_form{
    font-size: 14px;
}


.btn:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.page-layout{
    position: absolute;
    display: flex;
    width: 100%;
    /*height: 100%;*/
    align-items: center;
    justify-content: center;
    /*margin: 80px 0;*/

}

.page-body{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 80px 0 0 0;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.5);
}

.menu .Home-btn{
    display: flex;
    width: 180px;
}

.posts-holder{
    width: 100%;
    margin: 20px 45px;
}

.post-body{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.post-body div{
    margin: 2px 0 0 0;
}
.post-body .post-img{
    align-items: center;
    justify-content: center;
}

.post-body .time-diff-post{
    font-size: 12px;
}

.side-bars{
    display: flex;
    background-color: bisque;
    z-index: 1;
}

.left-side-bar{
    position: fixed;
    display: flex;
    background-color: bisque;
    width: 10%;
    height: 12%;
    left: 15%;
}

.right-side-bar{
    position: fixed;
    display: flex;

    width: 10%;
    height: 12%;
    right: 15%;
}

.side-bar-content{
    position: fixed;
    display: flex;
    width: 100%;
    height: 20%;
}