{% extends 'feed_page.html' %}
{% load static %}
{% block static_links %}
    <link rel="stylesheet" href="{% static 'users/css/home.css' %}">
{% endblock %}
{% block feed_body %}
                <div class="post-body">
                    {% for p in posts %}
                        <div>
                            <span>{{ p.author }}</span>
                            <span>
                            {% if request.user.is_authenticated and request.user != p.author %}
                                <script>
                                    var csrftoken = '{{ csrf_token }}';
                                    var ajax_url = "{% url 'posts:subscribe_ajax' %}";
                                </script>
                                <button id="subscribe-btn">Subscribe</button>
                            {% endif %}
                            </span>
                        <div>
                        <div>{{ p.text }}</div>
                        {% if p.get_file_url %}
                        <div>
                            <img src = "{{ p.get_file_url }}">
                        </div>
                        {% endif %}
                    {% endfor %} 
                    </div>
{% endblock %}


<!-- <button type="submit" class="btn"><img src="{% static 'users/imgs/user-2.png'%}"></button>-->