{% extends 'forms.html' %}
{% load static %}
{% block input_forms %}
    {% if form.non_field_errors %}
                <div class="input-box input-box-wrong"> 
                    {{ form.username }}
                </div>
                <div class="input-box input-box-wrong"> 
                    {{ form.password }}
                </div>
                <div class="input_errors_last">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
    {% else %}
                <div class="input-box"> 
                    {{ form.username }}
                </div>
                <div class="input-box"> 
                    {{ form.password }}
                </div>
    {% endif %}
    
{% endblock %}{% block other_form_logic %}
                <div class="remember">
                    <label>{{ form.rememberme }}{{ form.rememberme.label }}</label>
                    <a href="{% url 'users:password-reset' %}">Forgot password?</a>
                </div>      
{% endblock %}
{% block login_register %}
                    <p>Don't have an account? <a href="{% url 'users:register' %}">Register</a></p>
{% endblock %}

