{% extends 'forms.html' %}
{% block method %}post{% endblock %}
{% block input_forms %}
    
                <div class="input-box"> 
                    {{ form.username }}
                </div>
                <div class="input-box"> 
                    {{ form.password }}
                </div>
    
{% endblock %}{% block other_form_logic %}
                <div class="remember">
                    <label>{{ form.rememberme }}{{ form.rememberme.label }}</label>
                    <a href="#">Forgot password?</a>
                </div>      
{% endblock %}
{% block login_register %}
                    <p>Don't have an account? <a href="{% url 'users:register' %}">Register</a></p>
{% endblock %}

