{% extends 'forms.html' %}
{% block method %}post{% endblock %}
{% block input_forms %}
    {% for field in form %}
        {% if not field.errors %}
                <div class="input-box"> 
                    {{ field }}
                </div>
        {% else %}
                <div class="input-box input-box-wrong"> 
                    {{ field }}
                </div>
                {% if forloop.last %}
                <div class="input_errors_last">
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% else %}
                <div class="input_errors">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
        {% endif %}

    {% endfor %}
{% endblock %}
{% block login_register %}
                    <p>Already have an account? <a href="{% url 'users:login' %}" >Login</a></p>
{% endblock %}

