{% load static %}
<!DOCTYPE html>

<html lang="en" class="theme-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>
    <script src="{% static 'js/feed_page.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <link rel="stylesheet" href="{% static '/css/feed_page.css' %}">
    {% block static_links %}
    {% endblock %}
    <title>{{ title }}</title>

</head>
<body>
    <div class="wrap">
        <div class="page-layout">
                <div class="side-bars">
               <!-- <div class="left-side-bar side-bar">
                    <div class="side-bar-content">
                        <span><p>some content</p>
                        </span>
                        <span>some content
                        </span>
                    </div>
                </div>
                -->
                <div class="right-side-bar side-bar">
                    <div class="side-bar-content">
                        <span>
                            <a href="#">Subscribtions</a>
                        </span>
                        <span>
                            <a href="{% url 'posts:liked-posts-page' %}">Liked posts</a>
                        </span>
                        <span>
                            <button class="btn" id="theme-toggle-btn">Toggle theme</button>
                        </span>
                    </div>

                </div>
                </div>  
            <div class="menu-posts-spaceholders">
                <div class="menu-posts-spaceholder" id="menu-posts-top-spaceholder">
                </div>
                <div class="menu-posts-spaceholder" id="menu-posts-bottom-spaceholder">
                </div>
                <div class="square-shaped-spaceholers">
                    <div class="posts-body-tip-spaceholder" id="left-square-shaped-spaceholder">
                    </div>
                    <div class="posts-body-tip-spaceholder" id="right-square-shaped-spaceholder">
                    </div>
                </div>
                <div class="round-shaped-spaceholders">
                    <div class="posts-body-tip-spaceholder round-shaped-spaceholder" id="left-round-shaped-spaceholder">
                    </div>
                    <div class="posts-body-tip-spaceholder round-shaped-spaceholder" id="right-round-shaped-spaceholder">
                    </div>
                </div>
            </div>
            <div class='menu'>
                <header>
                    <ul>
                        <li class="Home-btn">
                            <a href="{% url 'posts:home'%}">
                                <p>Home</p>
                            </a>
                        </li>
                        <li class="empty_space">
                            <a href="{% url 'posts:add_post'%}">
                                <p>Add post</p>
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <form action="{% url 'posts:profile' user.username %}" method="get">
                                <button type="submit" class="btn"><p class="user_form">Profile</p></button>
                            </form>
                        </li>       
                        <li>
                            <form action="{% url 'users:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn"><p class="user_form">Logout</p></button>
                            </form>
                        </li>
                        {% else %}
                        <li>
                            <form action="{% url 'users:login' %}" method="get">
                                <button type="submit" class="btn"><p class="user_form">Login</p></button>
                            </form>
                        </li>
                        <li>
                            <form action="{% url 'users:register' %}" method="get">
                                <button type="submit" class="btn"><p class="user_form">Register</p></button>
                            </form>
                        {% endif %}
                    </ul>
                </header>
            </div>
            <div class="page-body">
                <script>
                    var csrftoken = '{{ csrf_token }}';
                    var like_ajax_url = "{% url 'posts:likepost_ajax' %}";
                    var unlike_ajax_url = "{% url 'posts:unlikepost_ajax' %}";
                    var CheckIfLiked_ajax_url = "{% url 'posts:checkifliked_ajax' %}";
                </script>
                <div class="posts-holder">
                    {% include 'posts.html' %}
                </div>
                              
            </div>      
              
        </div>
    </div>
</body>
</html>

